# Dossiers et fichiers généraux à ignorer
.gitattributes
.gitconfig

# Fichiers temporaires et de sauvegarde
*.tmp
*.bak
*.swp
*.swo

# Fichiers de logs
*.log
logs/
temp/

# Fichiers générés par les éditeurs de texte et IDEs populaires
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.atom/
.project
.classpath
.settings/

# Dépendances et builds
node_modules/
vendor/
build/
dist/
out/
target/

# Fichiers spécifiques au langage/framework (exemples)
__pycache__/
*.pyc
.venv/
venv/

*.class
*.jar
*.war
*.ear

.sort
